services:
  redis:
    container_name: redis-ts
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 2G

  api:
    container_name: api-ts
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --workers 1 --timeout-keep-alive 14400
    ports:
      - "3023:8000"
    volumes:
      - .:/app

    deploy:
      resources:
        limits:
          memory: 2G

    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    restart: always

  worker:
    container_name: worker-ts
    build: .
    # Ejecuta Celery
    command: celery -A app.core.celery_app worker --loglevel=info --concurrency=10
    volumes:
      - .:/app
    # Limites de recursos recomendados para evitar congelar el host completo
    deploy:
      resources:
        limits:
          memory: 4G
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    restart: always
